:root {
  --vingle-purple: #d650ff;
  --vingle-black: #282529;
  --vingle-gray-50: #f9f9fa;
  --vingle-gray-100: #f4f3f6;
  --vingle-gray-200: #e6e6ea;
  --vingle-gray-300: #cecdd6;
  --vingle-gray-400: #b9b7c4;
  --vingle-gray-500: #9f9eaf;
  --vingle-gray-600: #6f6e7b;
  --vingle-gray-700: #56555f;
  --vingle-gray-800: #3e3e45;
  --vingle-gray-900: #303037;
  --vingle-purple-10: #f9e7ff;
  --vingle-purple-30: #f5d3ff;
  --vingle-purple-50: #edb0ff;
  --vingle-purple-70: #e07bff;
}
